html {
    scroll-behavior: smooth;
  }


.nav{
font-family: 'Oswald', sans-serif;
opacity: 100%;
color: #FFFFFF;
font-size: 2.5rem;
padding-left: 5rem;
}

.bar{
    background-color: #660066;
    color: #FFFFFF;
   }

   .fo{
    background-color: #660066;
    color: white;
    font-size: 2.3rem;
            }

   .fo2{
    color: white;
    font-size: 2.1rem;
    font-family: 'Oswald', sans-serif;
    text-align: center;
      }
    
.lobster1{
    font-family: 'Lobster', cursive;
    font-weight: 400;
}
.bot{
    background-color: #373A3C;
    color:white;
  padding-left: 2rem;
  padding-right: 2rem;
   font-size: small;
   font-family: 'Cabin', sans-serif;
   font-weight: bolder;
   }

.osw{
    font-family: 'Oswald', sans-serif;
    color: #373A3C;
}
.osw1{
    font-family: 'Oswald', sans-serif;
    color:white;
    opacity: 100%;
    text-align: center;
}
.sec{
    text-align: center;
    background-color:white;
    color: black;
    padding-top: 2rem;
    padding-bottom: 9.5rem;
}

.sans{
    font-family: 'Source Sans Pro', sans-serif;

}

.pd{

    padding-top: 1rem;
    padding-bottom: 4rem;
}

.padcon{
    padding-top: 2rem;
    padding-bottom: 6rem;
}

.ult{
    background-color: #660066;
    text-align: center;
}

.img{
   background-image: url(../Assets/Assets-portafolio/paracaida2.jpg);
   height: 550px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position-y: center;
}

.h1{
    text-align: center;
    padding-top: 24rem;
}
.h11{
    text-align: center;
    padding-top: 0.5rem;
    font-family: 'Lacquer', sans-serif;

}

.lac{
    font-family: 'Lacquer', sans-serif;
}

.intro{

    text-align: center;
    color: #373A3C;
    font-family: 'Open Sans', sans-serif;
    opacity: 100%;
    padding-top: 3rem;
    
    line-height: 60px;
}

.intro1{
    text-align: justify;
    color: #373A3C;
    font-family: 'Open Sans', sans-serif;
    opacity: 100%;
    line-height: 40px;
    padding-top: 2rem;

}

@media only screen and (max-width:700px) and (min-width:300px) {
    .celu {
      display: none;
    }

}

.hr {
    height: 1px;
    width: 10%;
    background-color: black;
      }

      .img1{

        width: 300px;
        height: 300px;
      }

      #trabajos a{ height: 200px; overflow: hidden; display: block; margin-bottom: 40px; margin-top: 20px;}


